= javascript_include_tag \
  'http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js',\
  'http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.7.0/underscore-min.js',\
  'data.js',\
  'app.js'
= livereload_js unless ENV["RACK_ENV"] == "production"
